<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.thetrainingplan">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".ActivityStatisticsBoard"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity"
                />
        <activity
                android:name=".ActivityStats"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ActivityRefreshTasks"
                android:screenOrientation="fullSensor"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden" />

        <receiver
                android:name=".ActivityAlarmBroadcastReceiver"
                android:enabled="true"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
                android:name=".ActivityAddTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ActivityReadGoals"
                android:screenOrientation="fullSensor"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden" />
        <activity
                android:name=".ActivityUpdateGoals"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".GoalsActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ActivityTrainingPrograms"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ActivityEnrollTrainingProgram"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ActivityProfile"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ActivityLogIn"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".ActivitySignUp"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>